@import url('https://fonts.cdnfonts.com/css/rockwell-nova');
@import url('https://fonts.cdnfonts.com/css/schadow-bt');
@import url('https://fonts.cdnfonts.com/css/lastik-test');

.mary-g{
  font-family: 'Rockwell Nova Extra Bold', sans-serif;
  font-size: 40px;
}
.mary-g-address{
  font-family: 'Schadow BT', sans-serif;
  font-size: 13px;
  font-weight: 200;
  
}
.mary-g-sec{
  font-family: 'Rockwell Nova Extra Bold', sans-serif;
}
.comment{
  font-family: 'Lastik Test', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1.5px;
}
.score-table{
  min-width: 633px;
  max-width: 633px;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 1.5rem;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
  }
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-8px); }
    40%, 80% { transform: translateX(8px); }
  }
  
  .animate-shake {
    animation: shake 0.3s ease-in-out;
  }
  
  